@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 3px;
    height: 6px;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc;
  }
}
